<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
          stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2"
          viewBox="0 0 24 24" focusable="false">
          <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z" />
          <circle cx="12" cy="13" r="4" /></svg>
        <strong>{{ site.name | capitalize }}</strong>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item{% if current === 'home' %} active{% endif %}">
            <a class="nav-link" href="index.html">Home{% if current === 'home' %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item{% if current === 'about' %} active{% endif %}">
            <a class="nav-link" href="about.html">About{% if current === 'home' %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Contact
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Weibo</a>
              <a class="dropdown-item" href="#">WeChat</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Twitter</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
